@font-face {
	font-family: 'Golos Text';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/golos-text-cyrillic-400-normal.woff2') format('woff2'),
	url('../fonts/golos-text-cyrillic-400-normal.woff') format('woff'); 
	font-display: swap;
}

@font-face {
	font-family: 'Golos Text';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/golos-text-cyrillic-500-normal.woff2') format('woff2'),
	url('../fonts/golos-text-cyrillic-500-normal.woff') format('woff'); 
  font-display: swap;
}

@font-face {
	font-family: 'Golos Text';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/golos-text-cyrillic-700-normal.woff2') format('woff2'),
	url('../fonts/golos-text-cyrillic-700-normal.woff') format('woff'); 
  font-display: swap; 
}

@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/merriweather-cyrillic-400-normal.woff2') format('woff2'),
	url('../fonts/merriweather-cyrillic-400-normal.woff') format('woff'); 
	font-display: swap;
}

@font-face {
	font-family: 'Merriweather';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/merriweather-cyrillic-700-normal.woff2') format('woff2'),
	url('../fonts/merriweather-cyrillic-700-normal.woff') format('woff'); 
	font-display: swap;
}


.page {
	--main-dark: #1f1f1f;
	--lighter-dark: #313131;
	--accent: #F54932;
	--btn-accent: #fbce51;
	--padding-side: 72px;
	--padding-vert: 72px;
	font-family: 'Golos Text', sans-serif;
	font-style: normal;
	font-weight: 400;
}

@media screen and (max-width: 900px) {
	.page {
		--padding-side: 20px;
		--padding-vert: 60px;
	}
}

@media screen and (max-width: 1000px) {
  section {
    padding: 0px 20px;
  }
}

.header {
	box-sizing: border-box;
	width: 100%;
	padding-top: 26px;
	position: absolute;
	top: 0;
	z-index: 1;
}

.header__content {
	max-width: 1222px;
	margin: 0 auto;
	padding: 0 var(--padding-side);
}


.intro {
	box-sizing: border-box;
	padding: 124px 0px 0px;
	position: relative;
	min-height: 700px;
	background-image: url('../images/fon-1920.jpg'), url('../images/fon-texture.png') ;
	background-repeat: no-repeat, repeat;
	background-size: auto;
	background-position: 50% 100%;
	background-color: #e5d7cc;
}

@media screen and (max-width: 600px) {
	.intro {
		background-position: 80% 100%, 0% 0%;
		background-size: auto 40%;
    	min-height: 800px;
		padding: 123px 0 132px;
	}
}

.intro__content {
	display: flex;
	flex-direction: column;
	align-items: start;
	max-width: 1222px;
	margin: 0 auto;
	padding: 0 var(--padding-side);
}

@media screen and (max-width: 900px) {
	.intro__content {
		align-items: center;
	}
}

.intro__heading {
	display: block;
	max-width: 542px;
	margin-top: 0;
	font-family: "Merriweather", sans-serif;
	font-weight: 400;
	font-size: 60px;
	line-height: 1.1;
	text-transform: uppercase;
	color: var(--lighter-dark);
}

@media screen and (max-width: 900px) {
	.intro__heading {
		font-size: 36px;
	}
}

.intro__heading-left {
	text-align: left;
}

.intro__heading-center {
	text-align: center;
}

.intro__heading-right {
	text-align: right;
}

.intro__text {
	display: block;
	max-width: 542px;
	margin-bottom: 40px;
	font-family: "Golos Text", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.3;
	text-align: center;
	color: var(--lighter-dark);
}

@media screen and (max-width: 900px) {
	.intro__text {
		text-align: left;
	}
}

.intro__buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	justify-content: center;
}

.action-button {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 263px;
	height: 72px;
	padding: 15px 45px;
	font-family: "Golos Text", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.3;
	text-align: center;
	border-radius: 66px;
	text-decoration: none;
}

@media screen and (max-width: 900px) {
	.action-button {
		width: 335px;
		height: 47px;
    padding: 15px 25px;
	}
}

.action-button_def {
	color: #fff;
	background-color: var(--main-dark);
}

.action-button_transp {
	border: 2px solid var(--main-dark);
	color: var(--main-dark);
	background-color: transparent;
}

@media screen and (max-width: 900px) {
  .action-button_transp {
    background-color: #fff;
    border:unset;
  }
}

.intro__support:hover {
	color: var(--main-dark);;
	background-color: var(--btn-accent);
}

.intro__details:hover {
	color: #fff;
	background-color: var(--main-dark);
}




.lecture__text {
  font-family: "Merriweather", sans-serif;
  text-transform: uppercase;
  color: var(--lighter-dark);
  font-size: 28px;
  line-height: 1.35;
  font-weight: 400;
}

.lecture__img {
  max-width: 100%;
}

@media (min-width: 1000px) {
  .lecture {
    position: relative;
    max-width: 1222px;
    margin: 0 auto;
    padding: 80px var(--padding-side) 32px;
    min-height: 250px;
  }
  .lecture__content {
    max-width: 60%;
  }

  .lecture__img {
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 50px;
  }

  .lecture__text {
    display: inline;
    margin: 0;
    flex: 1 1; 
    font-size: 36px;
   
  }
}

@media screen and (max-width: 1000px) {
  .lecture__content {
    max-width: 60%;
	text-align: center;
	margin: 0 auto;
  }
}


@media screen and (max-width: 500px) {
  .lecture__content {
	max-width: 100%;
	text-align: left;
	margin: 0;
  }
}

@media screen and (max-width: 900px) {
  .lecture {
    padding-top: 48px;
  }
}



@media screen and (max-width: 900px) {
	.lecture__text {
		font-size: 28px;
		margin-bottom: 24px;
	}
}

.lecture__text-accent {
	font-weight: 700;
	color: var(--accent);
}


.seance {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 1222px;
	margin: 0 auto;
	padding: 32px var(--padding-side) 100px;
	gap: 44px;
}

@media screen and (max-width: 900px) {
	.seance {
		padding: 50px var(--padding-side) 60px;
	}
}

.seance__img {
	max-width: 100%;
	margin-top: -50px;
	margin-left: -30px;
}

@media screen and (max-width: 600px) {
  .seance__img {
    padding: 0px;
    margin: 0px;
  }
}

.seance__content {
	flex: 1 1;
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.seance__text {
	margin: 0;
	margin-bottom: 60px;
	font-family: "Merriweather", sans-serif;
	font-weight: 400;
	font-size: 36px;
	line-height: 1.35;
	text-transform: uppercase;
	color: var(--lighter-dark);
}

@media screen and (max-width: 900px) {
	.seance__text {
		font-size: 28px;
    text-align: left;
	}
}

.seance__text-accent {
	font-weight: 700;
	color: var(--accent);
}

.seance__info {
	border-collapse: collapse;
	margin-bottom: 48px;
}

@media screen and (max-width: 600px) {
  .seance__info {
    width: 100%;
  }
  .seance__info tr {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #D0D0D0;
  }
  .seance__info tr:nth-child(4) {
    display: block;
  }
  .seance__info tr:nth-child(4) td{
    width: 45%;
  }
}

.seance__info td {
	box-sizing: border-box;
	color: var(--lighter-dark);
	width: 50%;
	margin: 0;
	padding: 16px;
	border: 2px solid #D0D0D0;
	font-family: "Golos Text", sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.2;
	text-align: left;
}

@media screen and (max-width: 600px) {
  .seance__info td {
    border: unset;
    width: 100%;
    text-align: left;
    padding: 10px 0px;
  }
}

.seance__info td:nth-child(odd) {
	border-left: none;
	opacity: 0.7;
}

.seance__info td:nth-child(even) {
	border-right: none;
	font-weight: 600;
}

.seance__info tr:first-child > td {
	border-top: none;
}

.seance__info tr:last-child > td {
	border-bottom: none;
}

.seance__ask {
	font-family: "Golos Text", sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.2;
	color: #3057a2;
	text-decoration: none;
}

.seance__ask:hover {
	text-decoration: underline;
}

.seance__old-price {
	text-decoration-color: #F54932;
	padding-right: 10px;
}




.stages {
	max-width: 1222px;
	margin: 0 auto;
	padding: 100px var(--padding-side);
}

@media screen and (max-width: 1000px) {
	.stages {
		display: flex;
		flex-direction: column;
		padding: var(--padding-vert) var(--padding-side);
	}
}

.stages__heading {
	display: inline;
	font-family: "Merriweather", sans-serif;
	font-weight: 400;
	font-size: 54px;
	line-height: 1.2;
	text-transform: uppercase;
	color: var(--lighter-dark);
}

.stages__subheading {
	display: inline-block;
	margin-bottom: 54px;
	margin-left: 20px;
	font-family: "Golos Text", sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.2;
	color: #3057a2;
}

@media screen and (max-width: 1000px) {
	.stages__heading {
		font-size: 36px;
		margin-bottom: 12px;
	}
	.stages__subheading {
		margin-left: 0;
		margin-bottom: 10px;
	}
	.stages__content {
		width: 355px;
		margin: 0 auto;
		overflow: hidden;	
	}
}

.stages__list {
	list-style: none;
	counter-reset: stages 0;
	min-height: 430px;
	margin: 0;
	margin-bottom: 28px;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	transition: transform 0.4s ease-in-out;
	align-content: end;
}

@media screen and (max-width: 1000px) {
	.stages__list {
		padding: 0 10px;
		grid-template-columns: repeat(5, 335px);
		grid-template-rows: 150px 150px;
		column-gap: 20px;
		row-gap: 0;
	}
}

@media screen and (min-width: 1000px) {
	.stages__list {
		transform: translateX(0) !important;
	}
}

.stages__list > li {
	box-sizing: border-box;
	position: relative;
	counter-increment: stages 1;
	display: flex;
	gap: 16px;
	padding: 20px;
	font-family: "Golos Text", sans-serif;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	color: var(--lighter-dark);
	background-image: url('../images/text-fon.jpg');
	background-repeat: no-repeat;
}

@media screen and (max-width: 1000px) {
	.stages__list > li {
		font-size: 18px;
	}
	.stages__list > li:nth-child(3n),
	.stages__list > li:nth-child(3n+1) {
		padding-top: 62px;
	}
}

.stages__list > li::before {
	content: counter(stages);
	flex: 0 0 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 60px;
	width: 36px;
	height: 36px;
	background: #fff;
	font-family: "Golos Text", sans-serif;
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
	color: var(--lighter-dark);
}

.stages__list > li:nth-child(3) {
	grid-column: 3 / 4;
	grid-row: 1 / 3;
}

.stages__list > li:nth-child(7) {
	grid-column: 2 / 4;
	grid-row: 3 / 4;
	padding-right: 320px;
}

.stages__list > li:nth-child(7)::after {
	content: url('../images/plane.png');
	position: absolute;
	top: -100px;
	right: -60px;
}



@media screen and (max-width: 1000px) {
	.stages__list > li:nth-child(1)::after {
		content: '';
		display: block;
		background-image: url('../images/plane.png');
		background-repeat: no-repeat;
		background-size: cover;
		position: absolute;
		top: -120px;
		right: 20px;
		width: 300px;
		height: 182px;
	}
	.stages__list > li:nth-child(2) {
		grid-column: 1 / 2;
		grid-row: 2 / 3;
    background-position: 0 -150px;
	}
	.stages__list > li:nth-child(3) {
		grid-column: unset;
		grid-row: 1 / 3;
	}
	.stages__list > li:nth-child(4) {
		grid-column: 3 / 4;
		grid-row: 1 / 2;
	}
	.stages__list > li:nth-child(5) {
		grid-column: 3 / 4;
		grid-row: 2 / 3;
    background-position: 0 -150px;
	}
	.stages__list > li:nth-child(6) {
		grid-row: 1 / 3;
	}
	.stages__list > li:nth-child(7) {
		grid-column: unset;
		grid-row: 1 / 3;
		padding-right: 20px;
	}
	.stages__list > li:nth-child(7)::after {
		content: '';
	}
}

.stages__plane {
	margin-top: -100px;
	margin-right: -70px;
}

.stages__switch-bts {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 14px;
}

@media screen and (min-width: 1000px) {
	.stages__switch-bts {
		display: none;
	}
}

.stages__btn {
	background-color: var(--lighter-dark);
}

.stages__btn:hover {
	background-color: var(--btn-accent);
}

.stages__btn.stages__btn-grey {
  background-color: rgb(49 49 49 / 20%);
}

.stages__prev {
	display: block;
	width: 44px;
	height: 44px;
	border: none;
	border-radius: 50%;
	background-image: url('../images/arrow-left.svg');
}

.stages__next {
	display: block;
	width: 44px;
	height: 44px;
	border: none;
	border-radius: 50%;
	background-image: url('../images/arrow-right.svg');
}

.stages__page-count {
	display: flex;
	gap: 6px;
}

.stages__slide-btn {
	display: block;
	width: 10px;
	height: 10px;
	border: none;
	border-radius: 50%;
	background-color: #D9D9D9;
}

.stages__slide-btn_active {
	background-color: var(--main-dark);
}




.participants {
	max-width: 1222px;
	margin: 0 auto;
	padding: 100px var(--padding-side) 140px;
	position: relative;
}

@media screen and (max-width: 1336px) {
	.participants {
		padding: var(--padding-vert) var(--padding-side);
	}
}

@media screen and (max-width: 1200px) {
	.participants {
		margin-bottom: 100px;
		padding-bottom: 100px;
	}
}

.participants__header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 60px;
}

@media screen and (max-width: 1200px) {
	.participants__header {
		flex-direction: column;
		justify-content: center;
	}
}

.participants__switch-bts {
	display: flex;
	align-items: center;
	gap: 14px;
}

@media screen and (max-width: 1200px) {
	.participants__switch-bts {
		position: absolute;
		bottom: 0;
	}
}



.participants__btn {
  cursor: pointer;
	background-color: var(--lighter-dark);
}

.participants__btn:hover {
	background-color: var(--btn-accent);
}

.participants__heading {
	margin: 0;
	font-family: "Merriweather", sans-serif;
	font-weight: 400;
	font-size: 54px;
	line-height: 1.2;
	text-transform: uppercase;
	color: var(--lighter-dark);
}

@media screen and (max-width: 1366px) {
	.participants__heading {
		font-size: 36px;
		margin-bottom: 40px;
	}
}

@media screen and (max-width: 600px) {
	.participants__heading {
		margin-bottom: 0px;
	}
}

.participants__prev {
	display: block;
	width: 44px;
	height: 44px;
	border: none;
	border-radius: 50%;
	background-image: url('../images/arrow-left.svg');
}

.participants__next {
	display: block;
	width: 44px;
	height: 44px;
	border: none;
	border-radius: 50%;
	background-image: url('../images/arrow-right.svg');
}

.participants__slider {
	overflow-x: hidden;
	padding: 2px 0;
	width: 1125px;
}

@media screen and (max-width: 1200px) {
	.participants__slider {
		width: 750px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 600px) {
	.participants__slider {
		width: 335px;
	}
}

.participants__content {
	display: flex;
	justify-content: start;
	transition: transform 0.4s ease-in-out;
	width: 375px;
}

@media screen and (max-width: 600px) {
	.participants__content {
		gap: 0px;
		width: 335px;
	}
}

.participants__item {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	text-align: center;
	width: 335px;
	flex: 1 0 auto;
	padding: 0px 20px;
}

@media screen and (max-width: 1366px) {
	.participants__item {
		width: 335px;
		flex: 1 0 auto;
		justify-content: center;
	}
}

@media screen and (max-width: 600px) {
	.participants__item {
		width: 295px;
	}
}

@media screen and (min-width: 1366px) {
	.participants__item:first-child {
		padding-left: 37px;
	}

	.participants__item:last-child {
		padding-right: 37px;
	}
}

.participants__ava {
	width: 320px;
	height: 320px;
	margin-bottom: 28px;
	object-fit: none;
	object-position: bottom;
	border-radius: 50%;
	background-image: url(../images/ava.svg), url(../images/ava-back.jpg);
    background-size: 300px 300px, cover;
    background-position: bottom, center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
	.participants__ava {
		width: 244px;
		height: 244px;
		background-size: 220px 220px, cover;
	}
}

.participants__name {
	margin: 0;
	margin-bottom: 6px;
	font-family: "Golos Text", sans-serif;
	font-weight: 600;
	font-size: 24px;
	line-height: 1.2;
	color: var(--lighter-dark);
}

.participants__about {
	margin-bottom: 20px;
	font-family: "Golos Text", sans-serif;
	font-weight: 400;
	font-size: 20px;
	line-height: 1.2;
	color: var(--lighter-dark);
	opacity: 0.6;
}

.participants__link {
	box-sizing: border-box;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px;
	width: 113px;
	height: 35px;
	border: 1px solid #3057a2;
	border-radius: 62px;
	font-family: "Golos Text", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	color: #3057a2;
	text-decoration: none;
}

.participants__link:hover {
	color: #fff;
	background-color: #3057a2;
}


.footer {
	padding: 40px var(--padding-side) 72px;
	background-color: #E9DED4;
}

.footer__text {
	max-width: 1222px;
	margin: 0 auto;
	font-family: "Golos Text", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.2;
	color: var(--lighter-dark);
	opacity: 0.6;
}




.marquee-infinite {
  display: flex;
  overflow: hidden;
  gap: 30px;
  position: relative;
  user-select: none;
  background: var(--accent);
  color: #fff;
  height: 60px;
  align-items: center;
}

@media screen and (max-width: 900px) {
  .marquee-infinite {
    height: 38px;
  }
}

.marquee-content {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  min-width: 100%;
  gap: 30px;
  font-size: 22px;
  font-family: 'Merriweather';
  text-transform: uppercase;
}


.marquee-content span::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(-15px, -50%);
    background-color: rgb(255, 255, 255);
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

@keyframes marquee-infinite {
  from {
    transform: translateX(0);
  }
  to {
     transform: translateX(calc(-100% - 1rem));
  }
}

.marquee-content {
  animation: marquee-infinite 10s linear infinite; 
}




